@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: oswald;
  src: url(../fonts/oswald/Oswald-Bold.ttf);
}
@font-face {
  font-family: oswald;
  src: url(../fonts/oswald/Oswald-Light.ttf);
}
@font-face {
  font-family: oswald;
  src: url(../fonts/oswald/Oswald-Medium.ttf);
}
@font-face {
  font-family: oswald;
  src: url(../fonts/oswald/Oswald-Regular.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-Bold.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-Light.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'static';
  src: url(../fonts/static/Static Bold.otf);
}
@font-face {
  font-family: 'static';
  src: url(../fonts/static/Static.otf);
}
